{% comment %} <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shopping-bag"><title>{{ 'general.icon_labels.cart' | t }}</title><path d="M6 2L3 6v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V6l-3-4z"></path><line x1="3" y1="6" x2="21" y2="6"></line><path d="M16 10a4 4 0 0 1-8 0"></path></svg>
 {% endcomment %}

<?xml version="1.0" standalone="no"?>
<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 20010904//EN"
 "http://www.w3.org/TR/2001/REC-SVG-20010904/DTD/svg10.dtd">
<svg version="1.0" xmlns="http://www.w3.org/2000/svg"
 width="54.000000pt" height="54.000000pt" viewBox="0 0 54.000000 54.000000"
 preserveAspectRatio="xMidYMid meet">

<g transform="translate(0.000000,54.000000) scale(0.100000,-0.100000)"
fill="#000000" stroke="nonoe">
<path fill="#000000" d="M216 467 c-14 -15 -26 -38 -26 -52 0 -23 -4 -25 -44 -25 l-43 0 -7
-132 c-4 -73 -9 -150 -12 -171 l-6 -37 192 0 192 0 -6 38 c-3 20 -8 97 -12
170 l-7 132 -43 0 c-40 0 -44 2 -44 24 0 35 -30 66 -72 72 -30 5 -41 2 -62
-19z m82 -23 c12 -8 22 -24 22 -35 0 -16 -7 -19 -50 -19 -43 0 -50 3 -50 19 0
17 33 51 50 51 3 0 16 -7 28 -16z m-108 -119 c0 -16 6 -25 15 -25 9 0 15 9 15
25 0 23 3 25 50 25 47 0 50 -2 50 -25 0 -16 6 -25 15 -25 9 0 15 9 15 25 0 21
5 25 30 25 29 0 30 -2 30 -43 0 -24 3 -85 6 -135 l7 -92 -153 0 -153 0 7 92
c3 50 6 111 6 135 0 41 1 43 30 43 25 0 30 -4 30 -25z"/>
</g>
</svg>

