<div class="page-header cf">
  <div class="container cf">
    <h1 class="majortitle">{{ page.title }}</h1>
  </div>
  </div>

<div class="container cf">
  <div class="user-content row-spacing">
    
    
    <div class="two-row" style="display:none;">
      <div class="two-row-col trc-1">
        <h4>Who are we?</h4>
        <p> We are Messina Hembry; we’re all about giving clothing, shoes & acessories another chance at life...</p>
        <p> We handpick the very best vintage & preloved designer garments to give them a new lease of life. With hundreds of designers from Vans to Versace, Fendi to Fred Perry, Armani to Adidas, we consider our ranges to be the very best in second hand & vintage clothing.
        </p>
       

      </div>
    <div class="two-row-col trc-2">
      
      <img style="box-shadow: 0 0 1px rgba(0,0,0,.4);" src="{{ 'Wholesale-Video-Crop.jpg' | asset_url }}">
      
      </div>
    </div>
    
    
    <div class="two-row" style="display:none;">
      <div class="two-row-col trc-1">
        <img style="box-shadow: 0 0 1px rgba(0,0,0,.4);" src="{{ 'messina-p-3.jpg' | asset_url }}">
      
      </div>
    <div class="two-row-col trc-2">
      
      <h4>Where did we begin?</h4>
      <p>Messina Hembry was founded by brothers Zac and Josh Hembry who started by selling their hand-picked finds from charity shops and car boot sales. They soon realised they could source designer brands and rare vintage at scale and launched Messina Hembry.</p>
      <p>Our vintage wardrobe is full of one-off items that are replenished weekly. When you shop with us, you can save up to 90% on original prices as well as reducing carbon emissions and the demand for mass material production. </p>
      
      </div>
    </div>
    
    <div class="two-row">
      <div class="two-row-col trc-1" style="width: 100%;">
        
         
		  <table>
		<tbody>
    
    <tr>
      <th>TYPE</th>
      <th>DESCRIPTION</th>
      <th>PRICE</th>
    </tr>
    
    <tr>
      <td>T-shirt / Polo Shirt</td>
      <td>Including designer brands, USA Print, Sports, Disney, Cartoon, Graphic and Music</td>
      <td>£4-£10 average</td>
    </tr>
    
    <tr>
      <td>Shirts</td>
      <td>Including Flannel, Crazy Pattern, Hawaiian, Corduroy, Denim, Designer Brands</td>
      <td>£3-£15 average</td>
    </tr>
    
    <tr>
      <td>Jumper / Sweatshirts / Hoodies</td>
      <td>Including Designer Brands, Sports, Graphic</td>
      <td>£8-£20 average</td>
    </tr>
    
    <tr>
      <td>Jackets / Coats</td>
      <td>Including Designer Brands, Track Jackets, Denim, Baseball Jackets, College Jackets, Suede and Leather Jackets</td>
      <td>£8-£45 average</td>
    </tr>
    
    <tr>
      <td>Jeans / Trousers / Trackpants</td>
      <td>Including Branded, Shorts, Skirts, Dungarees</td>
      <td>£5-£12 average</td>
    </tr>
          
    <tr>
      <td>Accessories</td>
      <td>Branded, Hats, Caps, Bags and Ties</td>
      <td>£6-£12 average</td>
    </tr>
    
    </tbody>
    </table>
        
      </div>
    </div>
    
    
    
    

    
    
    
  </div>
</div>




<style>
  
  
  
  .snize-recommendation .snize-recommendation-title {
    display: none;
}
  
  .padded-row {
    padding-top: 0;
  }
  
  .template-page #content {
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
}
  
  .template-page .user-content.row-spacing {
    max-width: 100%;
}
  
  .two-row-col {
    width: 48%;
    float: left;
}
  
  .trc-1 {
    margin-right:2%;
  }
  .trc-2 {
    margin-left:2%;
  }
  
  .two-row {
    width: 100%;
    clear: both;
    padding-bottom: 50px !important;
    display: inline-block;
}
  
  /*.collection-row div {
    width: 50%;
    float: left;
}*/
  
  @media screen and (max-width:800px) {
  .two-row-col {
    width: 100%;
    float: left;
    margin: 0 !important;
}
    .two-row {
    padding-bottom: 0px !important;
    }
  }
  
  .user-content a.text-link {
    border-bottom: none;
  }
  
  .page-header {
    background-color: #197bbd;
    margin-bottom: 50px;
    width: 100% !important;
}
  
  .majortitle {
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 0 !important;
    padding: 10px 0 10px;
    letter-spacing: 10px;
    text-align:left !important;
}
  
  @media screen and (max-width:900px) {
  h1 {
    font-size: 23px;
}
    .majortitle {
    padding: 15px 0 15px;
    }
  }
  
  ul {
    margin-left: 0;
    margin-right: 0;
}
  
  .template-page #content {
    margin-top: 0;
    padding-top: 0;
  }
  
  .page-header {
    padding-bottom: 0;
}
  
  .trc-1 {
    margin-right: 0;
    width: 100%;
}
  table {
    margin-top: 40px;
}
  
  
  
  
  
  
   .snize-recommendation .snize-recommendation-title {
    display: none;
}
  
  .padded-row {
    padding-top: 20px;
  }
  
  .template-page #content {
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
}
  
  .template-page .user-content.row-spacing {
    max-width: 100%;
}
  
  .two-row-col {
    width: 48%;
    float: left;
}
  
  .trc-1 {
    margin-right:2%;
  }
  .trc-2 {
    margin-left:2%;
  }
  
  .two-row {
    width: 100%;
    clear: both;
    padding-bottom: 50px !important;
    display: inline-block;
}
  
  /*.collection-row div {
    width: 50%;
    float: left;
}*/
  
  @media screen and (max-width:800px) {
  .two-row-col {
    width: 100%;
    float: left;
    margin: 0 !important;
}
    .two-row {
    padding-bottom: 0px !important;
    }
  }
  
  .user-content a.text-link {
    border-bottom: none;
  }
  
  .page-header {
    background-color: #197bbd;
    margin-bottom: 50px;
    width: 100% !important;
}
  
  .majortitle {
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 0 !important;
    padding: 10px 0 10px;
    letter-spacing: 10px;
    text-align:left !important;
}
  
  @media screen and (max-width:900px) {
  h1 {
    font-size: 23px;
}
    .majortitle {
    padding: 15px 0 15px;
    }
  }
  
  ul {
    margin-left: 0;
    margin-right: 0;
}
  
  .template-page #content {
    margin-top: 0;
    padding-top: 0;
  }
  
  .page-header {
    padding-bottom: 0;
}
  
  video {
    width: 60%;
    margin: 0 auto;
        margin-bottom: 0px;
    display: inherit;
    margin-bottom: 50px;
}
  
  @media screen and (max-width:1100px) {
  video {
    width: 100%;
}
  }
  
  
  
  
    </style>


<script type="text/javascript">
  
  jQuery( document ).ready(function() {
    
    
    jQuery("h1").html("Wholesale");
    
    
});
  
</script>