<div class="page-header cf">
  <div class="container cf">
    <h1 class="majortitle">{{ page.title }}</h1>
  </div>
  </div>
  
	
<div class="container cf">
  <div class="user-content row-spacing">
    
    <div id="form">
    <div style="margin:0 auto;" class="pxFormGenerator" id="AqFFnbSLa_Fom91qesy0Bw"></div>
    </div>
            
    <div class="two-row">
      <div class="two-row-col trc-1">
        <h4>Wholesale Used Clothing by Messina Hembry</h4>
        <p> We are Messina Hembry; we’re all about giving clothing, shoes & acessories another chance at life.</p>
        <p> We handpick the very best vintage & preloved designer garments to give them a new lease of life. With hundreds of designers and brands covering all kinds of styles, we consider our ranges to be the very best in second hand & vintage clothing.
        <p>As well as providing individual items to shoppers, <b>we also provide other retailers with wholesale used clothing at competitive prices.</b> Based just off the A14 near Ipswich, Suffolk, <b>we’re well located to serve wholesale customers from London, Essex, Norfolk and other areas of the UK in-person, with an online bulk buy service offered for retailers from further afield.</b>
	   </p>
	   <p> With our in-person service, we’ll guide you through our warehouse where you can handpick your wholesale order from our comprehensive range of clothing. </p>
        <a href="#form">Contact us for wholesale preloved clothing</a>
       
      </div>
    <div class="two-row-col trc-2">
      
      <img style="box-shadow: 0 0 1px rgba(0,0,0,.4);" src="{{ 'Wholesale-Video-Crop.jpg' | asset_url }}">
      
      </div>
    </div>
    
    
    <div class="two-row">
      <div class="two-row-col trc-1">
        <img style="box-shadow: 0 0 1px rgba(0,0,0,.4);" src="{{ 'Wholesale-Racks-Crop.jpg' | asset_url }}">
      
      </div>
    <div class="two-row-col trc-2">
      
      <h4>Bulk buy your choice of preowned clothing online</h4>
      <p> No worries if you’re too far away from us to make the trip – we also offer the same service over a video call for both UK and International customers. <b>You’ll be virtually guided around our warehouse to pick out your bulk order which will then be prepared and promptly shipped to you.</b> 
	  </p>
      <p> Whether you’re an established store looking to expand your inventory or you’re just starting out on Depop, <b>we can deliver everything you’re looking for from a second hand clothing wholesaler.</b> The table below shows the average prices you can expect for each type of garment. 
	  </p>
      <p> <b>Use the form above to get in touch with us today with your wholesale enquiry</b> and we’ll get back to you as soon as possible. Please note that there is a minimum order of £500, all order totals are plus VAT, and we offer a handpick service only with no pre chosen bundles. 
	  </p>
       <a href="#form">Jump to our contact form</a>
      </div>
    </div>
    
    <div class="two-row">
      <div class="two-row-col trc-1" style="width: 100%;">
        
     <center>   <h4>Average prices for our wholesale clothing</h4>
		  <table>
		<tbody>
    
    <tr>
      <th>TYPE</th>
      <th>DESCRIPTION</th>
      <th>PRICE</th>
    </tr>
    
    <tr>
      <td>T-shirts</td>
      <td>Including designer brands, USA Print, Sports, Disney, Cartoon, Graphic and Music                   </td>
      <td>£5-£10 average</td>
    </tr>
          
           <tr>
      <td>Polo Shirts</td>
      <td>Sportswear and designer brands</td>
      <td>£5-£10 average</td>
    </tr>
    
    <tr>
      <td>Shirts</td>
      <td>Including Flannel, Crazy Pattern, Hawaiian, Corduroy, Denim, Designer Brands</td>
      <td>£5-£10 average</td>
    </tr>
          
          <tr>
      <td>Harley T-shirts</td>
      <td>Vintage Harley Davidson T-shirts</td>
      <td>£10 average</td>
    </tr>
          
              <tr>
      <td>NASCAR T-shirts</td>
      <td>Vintage NASCAR T-shirts</td>
      <td>£10 average</td>
    </tr>
    
              <tr>
      <td>Small Logo Sweatshirts</td>
      <td>Sweaters from sports brands and desinger labels with a small logo</td>
      <td>£8-£15 average</td>
    </tr>
          
            <tr>
      <td>Spell Out Branded Sweatshirts</td>
      <td>Sportswear and designer sweaters with a large brand spell out on the chest</td>
      <td>£12-£20 average</td>
    </tr>
           
          <tr>
      <td>Spell Out Branded Sweatshirts</td>
      <td>Sportswear and designer sweaters with a large brand spell out on the chest</td>
      <td>£12-£20 average</td>
    </tr>
    
           <tr>
      <td>Track Jackets</td>
      <td>Branded and unbranded</td>
      <td>£8-£18 average</td>
    </tr>
          
           <tr>
      <td>Harrington Jackets</td>
      <td>Harrington and other light jacket styles</td>
      <td>£15-£25 average</td>
    </tr>
          
            <tr>
      <td>Levi Denim Jackets</td>
      <td>Standard denim jackets</td>
      <td>£12 average</td>
    </tr>
          
    <tr>
      <td>Levi Denim Sherpa Jackets</td>
      <td>Sherpa lined denim jackets</td>
      <td>£15 average</td>
    </tr>
          
          
            <tr>
      <td>Funky Fleeces</td>
      <td>Branded and unbranded in funky colours and patterns</td>
      <td>£10 average</td>
    </tr>
          
            <tr>
      <td>Harrington Jackets</td>
      <td>Harrington and other light jacket styles</td>
      <td>£15-£25 average</td>
    </tr>
          
              <tr>
      <td>Puffer Jackets</td>
      <td>Plain, branded and colourful down puffer jackets</td>
      <td>£15-£35 average</td>
    </tr>
          
          
             <tr>
      <td>Funky Shirts</td>
      <td>Branded and unbranded shirts in funky colours and patterns</td>
      <td>£6 average</td>
    </tr>
          
              <tr>
      <td>Track Pants and Joggers</td>
      <td>Sportswear and leisurewear</td>
      <td>£6-£12 average</td>
    </tr>
          
              <tr>
      <td>Trousers and Jeans</td>
      <td>Formal and casual jeans, trousers and work pants</td>
      <td>£6-£15 average</td>
    </tr>
          
              <tr>
      <td>Shorts</td>
      <td>Chino, denim, and jogger shorts</td>
      <td>£6-£10 average</td>
    </tr>
          
    </tbody>
    </table>
        </center>
      </div>
    </div>
    

    
    
    
  </div>
</div>




<style>
  
  
  
  .snize-recommendation .snize-recommendation-title {
    display: none;
}
  
  .padded-row {
    padding-top: 0;
  }
  
  .template-page #content {
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
}
  
  .template-page .user-content.row-spacing {
    max-width: 100%;
}
  
  .two-row-col {
    width: 48%;
    float: left;
}
  
  .trc-1 {
    margin-right:2%;
  }
  .trc-2 {
    margin-left:2%;
  }
  
  .two-row {
    width: 100%;
    clear: both;
    padding-bottom: 50px !important;
    display: inline-block;
}
  
  /*.collection-row div {
    width: 50%;
    float: left;
}*/
  
  @media screen and (max-width:800px) {
  .two-row-col {
    width: 100%;
    float: left;
    margin: 0 !important;
}
    .two-row {
    padding-bottom: 0px !important;
    }
  }
  
  .user-content a.text-link {
    border-bottom: none;
  }
  
  .page-header {
    background-color: #197bbd;
    margin-bottom: 50px;
    width: 100% !important;
}
  
  .majortitle {
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 0 !important;
    padding: 10px 0 10px;
    letter-spacing: 10px;
    text-align:left !important;
}
  
  @media screen and (max-width:900px) {
  h1 {
    font-size: 23px;
}
    .majortitle {
    padding: 15px 0 15px;
    }
  }
  
  ul {
    margin-left: 0;
    margin-right: 0;
}
  
  .template-page #content {
    margin-top: 0;
    padding-top: 0;
  }
  
  .page-header {
    padding-bottom: 0;
}
  
  .trc-1 {
    margin-right: 0;
    width: 100%;
}
  table {
    margin-top: 40px;
}
  
  
  
  
  
  
   .snize-recommendation .snize-recommendation-title {
    display: none;
}
  
  .padded-row {
    padding-top: 20px;
  }
  
  .template-page #content {
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
}
  
  .template-page .user-content.row-spacing {
    max-width: 100%;
}
  
  .two-row-col {
    width: 48%;
    float: left;
}
  
  .trc-1 {
    margin-right:2%;
  }
  .trc-2 {
    margin-left:2%;
  }
  
  .two-row {
    width: 100%;
    clear: both;
    padding-bottom: 50px !important;
    display: inline-block;
}
  
  /*.collection-row div {
    width: 50%;
    float: left;
}*/
  
  @media screen and (max-width:800px) {
  .two-row-col {
    width: 100%;
    float: left;
    margin: 0 !important;
}
    .two-row {
    padding-bottom: 0px !important;
    }
  }
  
  .user-content a.text-link {
    border-bottom: none;
  }
  
  .page-header {
    background-color: #197bbd;
    margin-bottom: 50px;
    width: 100% !important;
}
  
  .majortitle {
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 0 !important;
    padding: 10px 0 10px;
    letter-spacing: 10px;
    text-align:left !important;
}
  
  @media screen and (max-width:900px) {
  h1 {
    font-size: 23px;
}
    .majortitle {
    padding: 15px 0 15px;
    }
  }
  
  ul {
    margin-left: 0;
    margin-right: 0;
}
  
  .template-page #content {
    margin-top: 0;
    padding-top: 0;
  }
  
  .page-header {
    padding-bottom: 0;
}
  
  video {
    width: 60%;
    margin: 0 auto;
        margin-bottom: 0px;
    display: inherit;
    margin-bottom: 50px;
}
  
  @media screen and (max-width:1100px) {
  video {
    width: 100%;
}
  }
  
  #form {
    background-image: url(https://cdn.shopify.com/s/files/1/0573/6433/t/63/assets/wholesale.jpg?v=1634134517);
    margin-bottom: 50px;
    padding-top: 30px;
    background-position: center center;
    background-size: cover;
    padding-bottom: 30px;
}
  
  .form_generater_form_div {
    background-color: rgba(255,255,255,.9)!important;
}
  .pxFormGenerator {
    background-color: rgba(255,255,255,.8);
    padding: 30px;
    width: 600px;
    height: auto;
    margin-bottom: 30px;
}
  
  @media screen and (max-width:640px) {
  .pxFormGenerator {
    width: 95%;
  }
  }
  
  
  
  
  .text-link {
    background: #197bbd;
    border: 1px solid #197bbd;
    color: #fff;
    font-size: 15px;
    font-family: inherit;
    font-weight: inherit;
    font-style: inherit;
    line-height: 1em;
    height: auto;
    margin: 0;
    text-decoration: none !important;
    cursor: pointer;
    padding: 11px 25px!important;
    vertical-align: middle;
    text-align: center;
    box-sizing: content-box;
    border-radius: 0;
    transition: background-color .1s,color .1s,border-color .1s,opacity .1s;
    display: inline-block;
    font-family: Roboto,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-weight: bold;
}
  
  
  
    </style>


<script type="text/javascript">
  
  jQuery( document ).ready(function() {
    
    
    jQuery("h1").html("Wholesale");
    
    
});
  
</script>