<div class="page-header cf">
  <div class="container cf">
    <h1 class="majortitle">{{ page.title }}</h1>
  </div>
  </div>

<div style="margin-bottom: 50px;" class="container cf">
  <div class="user-content row-spacing">
    
   
    <div class="two-row">
      
    <div class="two-row-col trc-1">
      
      <img style="width: 150px;margin-left: 10px !important;" src="https://cdn.shopify.com/s/files/1/0573/6433/files/recycle.svg">
        </object>
      <h2>Recycle your clothing</h2>
      
<p>Please fill in your contact details and donation amount below. We&rsquo;ll be in contact with you to organise a collection. 50p from every kilogram collected will be donated to <a href="https://ecologi.com" rel="noopener noreferrer" target="_blank">Ecologi</a> 🌱 to help plant tree&apos;s and fund the worlds best climate crisis solutions. Every donation of 5kg helps to plant over 20 trees. Minimum donation weight for a collection is 5kg. Please ensure all clothing is in a useable condition. We will only be able to accept clothing, shoes &amp; accessories.</p>
<p>Donations are categorised and recycled in 3 different ways</p>
<ul>
    <li>Reworn - clothing that can be worn again again.</li>
    <li>Reused - clothing that will be turned into alternative products like cleaning cloths.</li>
    <li>Recycled - clothing that will be turned into textile fibres and used for things like insulation.</li>
</ul>
      
      <p>Please see our <a href="https://messinahembry.com/pages/environment" rel="noopener noreferrer" target="_blank">environmental impacts</a> page for updates on our efforts to become climate positive &amp; support sustainable fashion.</p>
      
      
      
      <div class="donate-instructions">
      
        <div class="di-half">
        <img style="height: 80px;margin-left: 0px;width: 80px;" src="https://cdn.shopify.com/s/files/1/0573/6433/files/weigh_messina.svg">
          <h5>Weigh Your Items</h5>
        </div>
        <div class="di-half">
        <img style="height: 80px;margin-left: 0px;width: 66px;" src="https://cdn.shopify.com/s/files/1/0573/6433/files/post_messina.svg">
          <h5>Post Them To Us</h5>
        </div>
        <div class="di-half">
        <img style="height: 80px;margin-left: 0px;width: 80px;" src="https://cdn.shopify.com/s/files/1/0573/6433/files/50p_messina.svg">
          <h5>We Donate 50p/Kilo</h5>
        </div>
        
        <div style="margin:0 auto;" class="pxFormGenerator" id="lZchGNGrDYspeRMlSBlDmQ"></div>
      
      </div>
      
      
      </div>
      
      <div class="two-row-col trc-2">
        
        <img style="width: 150px;margin-left: 10px !important;" src="https://cdn.shopify.com/s/files/1/0573/6433/files/star_anim-5.svg">
        <h2>Got something special?</h2>
       
        <p>If you&apos;ve got something you&apos;d like to donate individually then please give us a few more details using the form below.&nbsp;</p>
<p>We&apos;ll donate all profits from the sale of the item to <a href="https://ecologi.com" rel="noopener noreferrer" target="_blank">Ecologi</a> 🌱 to help plant tree&apos;s. An item with a sale price of &pound;30 would help Ecologi to plant over 200+ tree&apos;s (that&apos;s over 10 tonnes of CO2 per month!).</p>
<p>We&apos;ll also keep you updated when your item sells and how many tree&apos;s you&apos;ve helped to plant.</p>
    
    <p>Please see our <a href="https://messinahembry.com/pages/environment" rel="noopener noreferrer" target="_blank">environmental impacts</a> page for updates on our efforts to become climate positive &amp; support sustainable fashion.</p>    
        
        <div style="margin:0 auto;" class="pxFormGenerator" id="MQ4u0-sVcxOs3YD1jOlMIA"></div>
        
      </div>
      
    </div>
    

    
    
 
    
    </div>
    
    
    
  </div>


<div style="display:none;">{{ page.content }}</div>


<style>
  
  .donate-instructions {
    margin-top: 54px;
}
  
  .di-half {
    float: left;
    width: 33.33%;
    padding-right: 4%;
    padding-bottom: 4%;
    text-align: center;
}
  
  h5 {font-size: 17px;}
  
  .asos-link-m, .asos-link-w {
display: inline-block;
}
  
  /*.two-row {
    padding-bottom: 80px !important;
  }*/
  
  .snize-recommendation .snize-recommendation-title {
    display: none;
}
  
  .padded-row {
    padding-top: 20px;
  }
  
  .asos-link-m {
    display:inline-block;width: 100%;background-color: #197bbd;
    transition:all ease-in-out .2s;
  }
  
  .asos-link-w {
    display:inline-block;width: 100%;background-color: #8d367c;
    transition:all ease-in-out .2s;
  }
  
    .asos-link-m:hover {
    background-color: #000;
  }
  
  .asos-link-w:hover {
    background-color: #000;
  }
  
  @media screen and (max-width:825px) {
  table {
    font-size: .9em;
}
  }
  @media screen and (max-width:740px) {
  table {
    font-size: .7em;
}
  }
  
  @media screen and (max-width:598px) {
  th, td {
    padding: 0.5em;
}
  }
    @media screen and (max-width:598px) {
  table {
    font-size: .5em;
}
    }
  @media screen and (max-width:406px) {
  td {
    padding: 0.4em;
}
  }
  
  
  
  .table-title {
    margin-top: 30px;
color: #197bbd;
margin-bottom: 0;
  }
  
  .th-tr th {
    border-top: none;
}
  
  th {
    border-bottom-width: 1px;
}
  
  .one-row {
    width: 100%;
    clear: both;
    margin-bottom: 30px !important;
    display: inline-block;
}
  
  .table li {
    list-style: none;
    width: 32.33333%;
    float: left;
    margin: 0 1% 1% 0;
    border: solid .1px #000;
    padding: 20px;
    text-align: center;
}
  
  .template-page #content {
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
}
  
  .template-page .user-content.row-spacing {
    max-width: 100%;
}
  
  .two-row-col {
    width: 48%;
    float: left;
}
  
  .trc-1 {
    width: 46%;
}
  .trc-2 {
    width: 46%;
}
  
  .trc-1 {
    margin-right:4%;
  }
  .trc-2 {
    margin-left:4%;
  }
  
  .two-row {
    width: 100%;
    clear: both;
    /*padding-bottom: 80px !important;*/
    display: inline-block;
}
  
  /*.collection-row div {
    width: 50%;
    float: left;
}*/
  
  @media screen and (max-width:800px) {
  .two-row-col {
    width: 100%;
    float: left;
    margin: 0 !important;
}
    .two-row {
    padding-bottom: 0px !important;
    }
  }
  
  .user-content a.text-link {
    border-bottom: none;
  }
  
  .page-header {
    background-color: #197bbd;
    margin-bottom: 50px;
    width: 100% !important;
}
  
  .majortitle {
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 0 !important;
    padding: 10px 0 10px;
    letter-spacing: 10px;
    text-align:left !important;
}
  
  @media screen and (max-width:900px) {
  h1 {
    font-size: 23px;
}
    .majortitle {
    padding: 15px 0 15px;
    }
  }
  
  ul {
    margin-left: 0;
    margin-right: 0;
}
  
  .template-page #content {
    margin-top: 0;
    padding-top: 0;
  }
  
  .page-header {
    padding-bottom: 0;
}
  
  @media screen and (max-width:1060px) {
  ul.table li {
    width: 100% !important;
    height: auto !important;
}
  }
  
  .table object {
    max-width: 200px;
}
  
  @media screen and (min-width:1001px) {
  .waist-li { height: 460px !important;}
  }
  
  
  
  .asos-btn.text-link {
    text-align: center;
    margin: 0 auto;
        margin-top: 0px;
    display: inherit;
    margin-top: -270px;
    background-color: #000;
    color: #fff;
    font-size: 2em;
    line-height: 3;
}
  
  /*.two-row-col {
    height: 360px;
}*/
  
  @media screen and (max-width:1196px) {
    margin-top: -250px;
      
    }
  }
  
    @media screen and (max-width:1096px) {
    margin-top: -239px;
      
    }
  }
  
  @media screen and (max-width:996px) {
  .asos-btn.text-link {
    margin-top: -221px;
  }
  }
  
  @media screen and (max-width:896px) {
  .asos-btn.text-link {
    margin-top: -202px;
  }
  }
  
  @media screen and (max-width:816px) {
  .two-row-col {
    height: auto;
}
    .asos-btn.text-link {
    margin-top: -50%;
    margin-bottom: 34%;
}
    
  }
  
  .asos-m-overlay, .asos-w-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 99999999999;
}

  .two-row-col {
    position: relative;
  }
  
  
  
  
  
    </style>


<script type="text/javascript">
  
  jQuery( document ).ready(function() {
    
    jQuery(".asos-m-overlay").click(function() {
      event.preventDefault();
  window.location.href = "https://marketplace.asos.com/boutique/messina-hembry-clothing";
});
    
    jQuery(".asos-w-overlay") .click(function() {
      event.preventDefault();
  window.location.href = "https://marketplace.asos.com/boutique/messina-girl";
});
    
    
    
});
  
</script>